{% extends 'main.html' %}
{% block article %}
<h5>{{ article.article_date }}</h5>
<h2>{{ article.article_title }}</h2>
<p>{{ article.article_text }}</p>
<hr>
<div class="large-offset-1 large-8 columns">
<p>Коментарії</p>
{% for commet in comments %}
    <p>{{ commet.comments_text }}</p>
{% endfor %}
<div class="row">
        <div class="large-3 large-offset-5 columns">
            <ul class="pagination">
                {% if articles.has_previous %}
                <li class="arrow"><a href="/page/{{ articles.previous_page_number }}/">&laquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in articles.paginator.page_range %}
                    {% if page == articles.number %}
                        <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                        {% else %}
                        <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                    <li class="arrow"><a href="/page/{{ articles.next_page_number }}/">&raquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if username %}
    <form action="/article/addcomment/{{ article.id }}/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button" value="Додати коментарій">
    </form>
    {% endif %}
    </div>

{% endblock %}

